div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   // background: linear-gradient(135deg, rgba(120, 190, 247, 0.568), rgba(74, 150, 194, 0.39));
    text-align: center;
}