<mat-toolbar class="menu full-width">
    <mat-toolbar-row>
        <button mat-flat-button color="accent" routerLink="/home">Home</button>
        <button mat-flat-button color="warn" routerLink="/about">About Me</button>
        <button mat-flat-button color="warn" routerLink="/projects">My Projects</button>
        <button mat-flat-button color="warn" routerLink="/contact">Contact</button>

        <span class="spacer"></span>

        <button class="login"  mat-flat-button color="primary">
            <mat-icon>logout</mat-icon>
            Logout
        </button>

        <button class="login"  mat-flat-button color="alert">
            <mat-icon>login</mat-icon>
            Login</button>
    </mat-toolbar-row>
</mat-toolbar>