.full-width {
    background-color: gray;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .menu {
    background-color: dodgerblue;
  }
  
  button {
    margin-right: 10px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  
  